<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-6">
            <h2>Liste des managers</h2>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input [(ngModel)]="searchValue" class="form-control" id="search" placeholder="Chercher manager - Nom Manager"
               type="text">

        <br>
        <div class="input-group-prepend">
          <button (click)="exportpdf()" class="btn btn-outline-secondary"
                  style="float: right;margin-left: 10px;width:45px;height:40px">
            <i class="bi bi-file-pdf-fill"></i>
          </button>
          <br> <br>
        </div>
      </div>
      <table *ngIf="totalLength" class="table " id="manager-table">
        <thead>
        <tr>
          <th (click)="sort('name')"> Nom et prénom</th>
          <th> E-mail</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let manager of managers|searchfilter:searchValue| orderBy: key: reverse | paginate:{itemsPerPage:5,currentPage:p}">

          <td> {{ manager.name }} </td>
          <td> {{ manager.email }} </td>
          <td>
            <button (click)="open(manager.id)" class="btn btn-outline-danger" style="margin-right: 10px"><i
              class="bi bi-trash3-fill"></i></button>

          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="totalLength==0" class="alert alert-danger" role="alert">
        Pas de managers!
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p=$event" *ngIf="totalLength" class="text-center"></pagination-controls>

