#progress {
  position: relative;
  margin-bottom: 10px;
}
#progress-bar {
  position: absolute;
  background: rgb(27, 110, 106);;
  height: 5px;
  width: 0%;
  top: 50%;
  left: 0;
}
#progress-num {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#progress-details {
  margin-bottom: 30px;
  padding-left: 120px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width:950px;
}
#progress-num::before {
  content: "";
  background-color: rgb(243, 241, 241);
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: -1;
}
#progress-num .step {
  border: 1.5px solid rgb(243, 241, 241);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: rgb(243, 241, 241);
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  z-index: 1;
}
#progress-num .step.active {
  border-color: rgb(0 74 158 / 89%) !important;
  background-color: rgb(0 74 158 / 89%) !important;
  color: #fff;
}
.btn {
  background: lightgray;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
}

.workflow {

}
.center{
  text-align:center;
}
.center > div{ /* N.B. child combinators don't work in IE6 or less */
  display:inline-block;
  width:800px;
}

.bold {
  font-weight: bold;
}

a.leBouton {
  text-decoration: none;
  width: auto;
  height: 40px;
  background-color:  rgb(0 74 158 / 89%) !important;
  color: white;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 12px;


  }


#progress-num .step.success {
  border-color: rgb(17, 92, 35);;
  background-color: rgb(17, 92, 35);
  color: #fff;
}

#progress-num .step.error {
  border-color: rgb(82, 6, 6);;
  background-color: rgb(187, 8, 40);
  color: #fff;
}
