<div class="container">
  <div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Créer un dossier de candidature</h2>
          <span>Veuillez utiliser le formulaire ci-dessous pour <br>créer un dossier de candidature.</span>
        </div>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label><b>Intitulé de poste</b> *</label>
            <input
              type="text"
              class="form-control"
              id="intitule" [(ngModel)]="dossier.intitule"
              name="intitule"
              placeholder="Entrer l'intitlué de poste">
          </div>


          <div class="form-group">
            <label><b>Candidat</b> *</label>
            <div class="form-row">
              <div class="form-group col-md-5">
                <input
                  name="candidat"
                  id="candidat"
                  type="text"
                  class="form-control"
                  #cnom
                  placeholder="Nom de candidat">
              </div>
              <div class="form-group col-md-5">
                <input
                  name="prenom"
                  id="prenom"
                  type="text"
                  class="form-control"
                  #cprenom
                  placeholder="Prénom de candidat">

              </div>
              <button type="button" class="btn btn-outline-secondary" (click)="getCandidats(cnom.value,cprenom.value)"
                      style="float: right;margin-left:10px;width:40px;height:40px">
                <i class="bi bi-search"></i>
              </button>


            </div>
          </div>
          <ul *ngIf="candidats">Candidat :
            <select class="custom-select-sm-4" [(ngModel)]="dossier.candidat"
                    name="candidat">
              <option *ngFor="let c of candidats" [ngValue]="c"> {{c.nom}} {{c.prenom}}</option>
            </select>
          </ul>


          <div class="form-group">
            <label for="manager"><b>Manager</b> *</label>
            <div class="form-row">
              <div class="form-group col-md-5">
                <input
                  name="manager"
                  id="manager"
                  placeholder="Nom de manager"
                  #m
                  type="text"
                  class="form-control">

              </div>
              <button  type="button" class="btn btn-outline-secondary" (click)="getManager(m.value)" style="margin-left:10px;width:40px;height:40px">
                <i class="bi bi-search"></i>
              </button>
              <select
                class="form-select"
                *ngIf="managers"
                [(ngModel)]="dossier.user"
                style="margin-left:20px;width:150px;height:40px"
                name="user">
                <option *ngFor="let m of managers " selected [ngValue]="m"> {{m.name}}</option>
              </select>
              </div>
              </div>

              <div class="form-group">
                <label>Description</label>
                <textarea required type="text" class ="form-control" id = "description"
                          [(ngModel)] = "dossier.description" name = "description">
                </textarea>
              </div>


          <div class="form-group boutton">
            <button class="btn btn-primary btn-block" type="submit">
              Ajouter
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
