<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card-counter success">
          <i class="fa fa-database"></i>
          <span class="count-numbers">11</span>
          <a routerLink="/manager" routerLinkActive="active" class="count-name">Manager</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-counter danger">
          <i class="fa fa-ticket"></i>
          <span class="count-numbers">22</span>
          <a routerLink="/dossier" routerLinkActive="active" class="count-name">Dossiers de candidature</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-counter info">
          <i class="fa fa-users"></i>
          <span class="count-numbers">{{count}}35</span>
          <a routerLink="/candidats" routerLinkActive="active" class="count-name">Candidats</a>
        </div>
      </div>
    </div>
  </div><br><br>
  
<router-outlet></router-outlet>
