.table-title {
    padding-bottom: 15px;
    background: whitesmoke;
    color: black;
    padding: 16px 30px;
    margin: 20px ;
    border-radius: 3px 3px 0 0;
  }
  .table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
  }