<div class="row">
  <div class="col-8">
    <label class="btn btn-default p-0">
      <input (change)="selectFile($event)" type="file"/>
    </label>
  </div>
  <div class="col-4">
    <button (click)="upload()" [disabled]="!selectedFiles" class="btn btn-success btn-sm">
      Upload
    </button>
  </div>
</div>
<div *ngIf="currentFile" class="progress my-3">
  <div
    [ngStyle]="{ width: progress + '%' }"
    aria-valuemax="100"
    aria-valuemin="0"
    attr.aria-valuenow="{{ progress }}"
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
  >
    {{ progress }}%
  </div>
</div>
<div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
<!--<div class="card mt-3">
  <div class="card-header">List of Files</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of fileInfos | async"
  >
    <li class="list-group-item">
      <a href="{{ file.url }}">{{ file.name }}</a>
    </li>
  </ul>
</div>-->
