<div class = "row">
    <h2>Liste des dossiers</h2>
</div><br>

<br>
<button (click) = "create()" class = "btn btn-outline-success"style="margin-left: 10px;float: right;width:45px;height:40px"><i class="bi bi-plus-circle-fill"></i></button>
<button (click)="exportpdf()" class="btn btn-outline-secondary" style="float: right;margin-left: 10px;width:45px;height:40px" >
    <i class="bi bi-file-pdf-fill"></i>
  </button>

 <br> <br>             
<table id="table" class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> Titre</th>
            <th> DateCreation </th>
            <th> DateValidation </th>
            <th>Status</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let dossier of dossiers | paginate:{itemsPerPage:5,currentPage:p} ">
            
            <td> {{ dossier.titre }} </td>
            <td> {{ dossier.DateCreation | date: 'dd/MM/yyyy'}}</td>
            <td> {{ dossier.DateValidation |date: 'dd/MM/yyyy'}} </td>
            <td> {{dossier.statut}} </td>
            
            <td>
                <button (click) = "update(dossier.id_dossier)" class = "btn btn-outline-warning"><i class="bi bi-pen-fill"></i></button>
                <button (click) = "delete(dossier.id_dossier)" class = "btn btn-outline-danger" style="margin-left: 10px"> <i class="bi bi-trash3-fill"></i></button>
                <button (click) = "dossierDetails(dossier.id_dossier)" class = "btn btn-outline-primary" style="margin-left: 10px"><i class="bi bi-card-list"></i></button>
            </td>
        </tr>
    </tbody>
</table>


<pagination-controls (pageChange)="p=$event"></pagination-controls>


