<div class="container" style="    margin-left: -40px;">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-6">
            <h2>Liste des dossiers de candidature</h2>
          </div>
        </div>
      </div>
      <br>
      <div class="input-group mb-3">
        <input [(ngModel)]="searchValue" class="form-control" id="search"
               placeholder="Chercher dossier - Intitulé de poste"
               style="border: 1px solid;
               border-radius: 5px;" type="text">
        <input [(ngModel)]="status" class="form-control col-xl-5" id="status"
               placeholder="Chercher dossier - Status"
               style="border: 1px solid;
               border-radius: 5px;" type="text">

        <button (click)="create()" class="btn btn-outline-success"
                style="margin-left: 10px;float: right;width:45px;height:40px;border: 1px solid;
                border-radius: 5px;"><i class="bi bi-plus-circle-fill"></i>
        </button>
        <button (click)="exportpdf()" class="btn btn-outline-secondary"
                style="float: right;margin-left: 10px;width:45px;height:40px;border: 1px solid;
                border-radius:5px;">
          <i class="bi bi-file-pdf-fill"></i>
        </button>


      </div>
      <br>
      <table *ngIf="totalLength" class="table" id="table">
        <thead>
        <tr>
          <th (click)="sort('intitule')">Intitulé du poste <i class="bi bi-sort-down"></i></th>
          <th>Candidat <i class="bi bi-sort-down"></i></th>
          <th>Date de création <i class="bi bi-sort-down"></i></th>
          <th>Manager <i class="bi bi-sort-down"></i></th>
          <th>Status <i class="bi bi-sort-down"></i></th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let dossier of dossiers |search:searchValue| paginate:{itemsPerPage:5,currentPage:p} |orderBy: key: reverse ">

          <td> {{ dossier.intitule }} </td>
          <td><a
            routerLink="/candidat-details/{{dossier.candidat.idCandidat}}">{{ dossier.candidat.nom}} {{dossier.candidat.prenom}}</a>
          </td>
          <td> {{ dossier.dateCreation | date: 'dd/MM/yyyy'}}</td>
          <td> {{ dossier.user.name}} </td>
          <td><span class="{{utils.check(dossier).style}}">{{utils.check(dossier).etat}}</span></td>

          <td>
            <button (click)="update(dossier.idDossier)" class="btn btn-outline-warning"><i class="bi bi-pen-fill"></i>
            </button>
            <button (click)="open(dossier.idDossier)" class="btn btn-outline-danger" style="margin-left: 10px"><i
              class="bi bi-trash3-fill"></i></button>
            <button (click)="dossierDetails(dossier.idDossier)" class="btn btn-outline-primary"
                    style="margin-left: 10px"><i
              class="bi bi-card-list"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="totalLength==0" class="alert alert-danger" role="alert">
        Pas de dossier de candidature!
      </div>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="p=$event" *ngIf="totalLength" class="text-center"></pagination-controls>


