<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-6">
            <h2>Liste des entretiens</h2>
          </div>
        </div>
      </div>
      <br>
      <table *ngIf="totalLength" class="table" id="table">
        <thead>
        <tr>
          <th>Entretien</th>
          <th>Heure de début</th>
          <th>Heure de fin</th>
          <th>Jour</th>
          <th>Candidat</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entretien of entretiens | paginate:{itemsPerPage:5,currentPage:p} ">
          <td> {{ entretien.text }} </td>
          <td>{{entretien.dateDebut| date: 'h:mm a'}}</td>
          <td>{{entretien.dateFin| date: 'h:mm a'}}</td>
          <td>{{entretien.dateFin| date: 'EEEE, MMMM d, y'}}</td>
          <td>{{entretien.dossiers.candidat.nom}} {{entretien.dossiers.candidat.prenom}}</td>
          <td>

            <button (click)="accepter(entretien)" class="btn btn-outline-success" style="margin-left: 10px;">
              <i class="bi bi-check-square-fill"></i>
            </button>
            <button (click)="refuser(entretien)" class="btn btn-outline-danger" style="margin-left: 10px;"><i
              class="bi bi-x-square-fill"></i>
            </button>

          </td>

        </tr>
        </tbody>
      </table>
      <div *ngIf="totalLength==0" class="alert alert-danger" role="alert">
        Pas des entretiens à confirmer !
      </div>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="p=$event" *ngIf="totalLength" class="text-center"></pagination-controls>


