<div class="col-md-12">
  <div class="card card-container">
    <h2 class="align-self-md-center card-title title">S'inscrire</h2>
    <br>
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label><b>Nom et Prénom</b> *</label>
        <input
          type="text"
          class="form-control"
          placeholder="Entrer le nom et le prénom"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          maxlength="20"
          #name="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && name.errors }"
        />
        <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors['required']">Nom et prènom sont nécessaires.</div>
          <div *ngIf="name.errors['minlength']">
            Ce champ doit avoir une longueur minimum de 3 caractères.
          </div>
          <div *ngIf="name.errors['maxlength']">
            Le nom et prènom doit contenir au maximum 20 lettres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label><b>Adresse e-mail</b> *</label>
        <input
          type="email"
          class="form-control"
          placeholder="Entrer l'adresse e-mail"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Adresse e-mail est nécessaire.</div>
          <div *ngIf="email.errors['email']">
            Ce doit être une adresse e-mail valide.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label><b>Mot de passe</b> *</label>
        <input
          type="password"
          class="form-control"
          placeholder="Entrer le mot de passe"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Le mot de passe est nécessaire.</div>
          <div *ngIf="password.errors['minlength']">
            Le mot de passe doit avoir une longueur minimum de 6 caractères.
          </div>
        </div>
      </div>
      <div class="form-group boutton">
        <button class="btn btn-primary btn-block ">Inscription</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Inscription a échoué!<br/>{{ errorMessage }}
      </div>

    </form>
    <div class="align-self-md-center">
    <span class="msg">Vous avez déjà un compte ?
      <a [routerLink]="['/login']">CONNECTEZ-VOUS ICI</a></span>
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Votre inscription a été réussi!
    </div>
  </div>
</div>
