<div class="container">
  <div class="table-title">
    <div class="row">
      <div class="input-group">
        <div class="col-xs-6">
          <h2>Dashboard Manager</h2>
        </div>

      </div>
    </div>

  </div>
  <br><br>
  <div class="row">

    <div class="col-md-4" style="margin-left:90px">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers">{{totalLength}}</span>
        <a class="count-name" routerLink="/dossierCandidatureList" routerLinkActive="active">Dossiers De candidature</a>
      </div>
    </div>
  </div><br><br>
  
</div>
