<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-6">
            <h2>Liste des candidats</h2>
          </div>
        </div>
      </div>

      <br>
      <button (click)="create()" class="btn btn-outline-success"
              style="float: right;margin-left: 10px;width:45px;height:40px"><i class="bi bi-plus-circle-fill"></i>
      </button>
      <button (click)="exportpdf()" class="btn btn-outline-secondary"
              style="float: right;margin-left: 10px;width:45px;height:40px">
        <i class="bi bi-file-pdf-fill"></i>
      </button>
      <br> <br>
      <table id="candidat-table" class="table table-striped table-bordered">
        <thead>
        <tr>

          <th> Nom</th>
          <th> Prenom</th>
          <th> Email</th>
          <th> Tel</th>
          <th>Date Naissance</th>
          <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let candidat of candidats | paginate:{itemsPerPage:5,currentPage:p}">

          <td> {{ candidat.nom }} </td>
          <td> {{ candidat.prenom }} </td>
          <td> {{ candidat.email }} </td>
          <td> {{ candidat.tel }}</td>
          <td> {{ candidat.DateNaissance }}</td>
          <td>
            <button (click)="update(candidat.id_candidat)" class="btn btn-outline-warning"
                    style="margin-left:20px;margin-right: 10px"><i class="bi bi-pen-fill"></i></button>
            <button (click)="open(candidat.id_candidat)" class="btn btn-outline-danger" style="margin-right: 10px"><i
              class="bi bi-trash3-fill"></i></button>
            <button (click)="candidatDetails(candidat.id_candidat)" class="btn btn-outline-primary"><i
              class="bi bi-card-list"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <pagination-controls class="text-center" (pageChange)="p=$event"></pagination-controls>

