<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-6">
            <h2>Liste des employées</h2>
          </div>
          <div class="col">
            <button class="btn btn-success" (click)="open()"><i class="bi bi-save"></i></button>
          </div>
        </div>

      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Nom et prénom</th>
        <th>Adresse électronique</th>
        <th>Rôle</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users| paginate: { itemsPerPage:5,
     currentPage: page,
      totalItems:totalLength}">

        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
          <select class="form-select" [(ngModel)]="user.role.name"
                  (ngModelChange)="user.role.id= check($event)">
            <option  *ngFor="let i of roles" [value]="i.name"> {{i.role}}</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
</div>


