<div class="col-md-12">
  <div class="card card-container">
    <h2 class="align-self-md-center card-title title">Se Connecter</h2>
    <br>
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label><b>Adresse e-mail</b> *</label>
        <input
          type="text"
          class="form-control"
          name="email"
          placeholder="Entrer l'adresse e-mail"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
          Adresse e-mail est nécessaire.
        </div>
      </div>
      <div class="form-group">
        <label><b>Mot de passe</b> *</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Entrer le mot de passe"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Mot de passe est nécessaire.</div>
          <div *ngIf="password.errors['minlength']">
            Le mot de passe doit avoir une longueur minimum de 6 caractères.
          </div>
        </div>
      </div>
      <div class="form-group boutton">
        <button class="btn btn-primary btn-block">
          Connexion
        </button>


      </div>
      <div class="form-group ">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger text-center" role="alert">
          Erreur : {{ errorMessage }}
        </div>
      </div>

    </form>
    <div class="align-self-md-center ">
            <span class="msg" *ngIf="!isLoggedIn">Vous n'avez pas de compte ?
      <a [routerLink]="['/register']">INSCRIVEZ-VOUS ICI</a></span>
    </div>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      <span>La connexion est établie avec succès.</span>
    </div>
  </div>
</div>
