.img-responsive {
  height: 90px;
  width: 150px;
}

.nav-link {
  font-size: 17px;
  color: rgb(236, 236, 236);
}

.bg-dark {
  /* background-color:rgba(9, 33, 170, 0.733) !important;*/
  background-color: rgb(0 74 158) !important;
}

h1 {
  font-family: "Poppins SemiBold";

}

a {
  color: rgb(236, 236, 236);
}

.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  color: rgba(239, 239, 240, 0.733);
  background-color: rgb(0 74 158 / 89%) !important;

}

.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}

