<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Dossier </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>Intitulé de poste</label>
                        <input type="text" class="form-control" id="nom"
                        [(ngModel)]="dossier.intitule" name="intitule">
                    </div>

                   <div class="form-group">
                        <label> Date Creation</label>
                        <input type="date" class ="form-control" id = "DateCreation"
                            [(ngModel)] = "dossier.DateCreation" name = "DateCreation">
                    </div>

                    <div class="form-group">
                        <label> Date Validation</label>
                        <input type="date" class ="form-control" id = "DateValidation"
                            [(ngModel)] = "dossier.DateValidation" name = "DateValidation">
                    </div>

                    <div class="form-group">
                        <label for="statut">Statut</label>
                        <select
                          id="statut"
                         class="form-select"  name="statut" [(ngModel)]="dossier.statut"
                          style="height: 35px;">
                          <option value="En_attente" selected>En_attente</option>
                          <option value="En_cours">En_cours</option>
                          <option value="accepte">accepte</option>
                          <option value="refuse">refuse</option>
                        </select>

                       </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>


