<div class="container">

  <div class="table-responsive">

    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-6">
            <h2>Liste des candidats</h2>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input [(ngModel)]="searchValue" class="form-control" id="search" placeholder="Chercher candidat - Nom Candidat"
               type="text">

        <br>
        <div class="input-group-prepend">
          <button (click)="create()" class="btn btn-outline-info"
                  style="float: right;margin-left: 10px;width:45px;height:40px"><i class="bi bi-plus-circle-fill"></i>
          </button>
          <button (click)="exportpdf()" class="btn btn-outline-secondary"
                  style="float: right;margin-left: 10px;width:45px;height:40px">
            <i class="bi bi-file-pdf-fill"></i>
          </button>
          <br> <br>
        </div>
      </div>
      <table *ngIf="totalLength" class="table" id="candidat-table">
        <thead>
        <tr>
          <th></th>
          <th (click)="sort('nom')"> Nom <i class="bi bi-sort-down"></i></th>
          <th (click)="sort('prenom')">Prenom <i class="bi bi-sort-down"></i></th>
          <th (click)="sort('email')"> E-mail <i class="bi bi-sort-down"></i></th>
          <th (click)="sort('tel')"> Téléphone <i class="bi bi-sort-down"></i></th>
          <th (click)="sort('date')">Date de naissance <i class="bi bi-sort-down"></i></th>
          <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let candidat of candidats|searchfilter:searchValue| orderBy: key: reverse  | paginate:{itemsPerPage:5,currentPage:p}">
          <td *ngIf="candidat.image"><img src="{{candidat.image.url}}" style="width:50px"/></td>
          <td> {{ candidat.nom }} </td>
          <td> {{ candidat.prenom }} </td>
          <td> {{ candidat.email }} </td>
          <td> {{ candidat.tel }}</td>
          <td> {{ candidat.dateNaissance | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button (click)="update(candidat.idCandidat)" class="btn btn-outline-warning"
                    style="margin-left:20px;margin-right: 10px"><i class="bi bi-pen-fill"></i></button>
            <button (click)="open(candidat.idCandidat)" class="btn btn-outline-danger" style="margin-right: 10px"><i
              class="bi bi-trash3-fill"></i></button>
            <button (click)="candidatDetails(candidat.idCandidat)" class="btn btn-outline-primary"><i
              class="bi bi-card-list"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="totalLength==0" class="alert alert-danger" role="alert">
        Pas de candidats!
      </div>
    </div>
  </div>
</div>
<pagination-controls *ngIf="totalLength" (pageChange)="p=$event" class="text-center"></pagination-controls>

