<div class="container">
  <div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Ajouter un candidat</h2>
          <span>Veuillez utiliser le formulaire ci-dessous pour ajouter un candidat.</span>
        </div>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label><b>Nom</b> *</label>
            <input [(ngModel)]="candidat.nom" class="form-control" id="nom" name="nom"
                   placeholder="Entrer le nom"
                   type="text"
                   required
                  minlength="4">
          </div>

          <div class="form-group">
            <label><b>Prénom</b> *</label>
            <input [(ngModel)]="candidat.prenom" class="form-control" id="prenom" name="prenom"
                   placeholder="Entrer le prénom"
                   type="text">
          </div>
          <div class="form-group">
            <label><b>E-mail</b> * </label>
            <input [(ngModel)]="candidat.email" class="form-control" id="email" name="email"
                   placeholder="Entrer l'e-mail"
                   type="email">
          </div>
          <div class="form-group">
            <label><b>Numéro de téléphone</b> *</label>
            <input [(ngModel)]="candidat.tel" class="form-control" id="tel" name="tel"
                   placeholder="Entrer le numéro de téléphone"
                   type="tel"
            >
          </div>
          <div class="form-group">
            <label><b>Date de naissance</b> *</label>
            <input [(ngModel)]="candidat.dateNaissance" class="form-control" id="dateNaissance"
                   name="dateNaissance" placeholder="Entrer la date de naissance"
                   type="date">
          </div>


          <div class="form-group">
            <label><b>Curriculum vitæ</b></label>
            <app-file-upload (cv)="setCv($event)"></app-file-upload>
          </div>

          <div class="form-group boutton">
            <button class="btn btn-primary btn-block btnSubmit" type="submit">
              Ajouter
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
