<div class="container">
  <div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Ajouter un candidat</h2>
          <span>Veuillez utiliser le formulaire ci-dessous pour ajouter un candidat.</span>
        </div>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label><b>Nom</b> *</label>
            <input #n="ngModel" [(ngModel)]="candidat.nom" class="form-control" id="nom"
                   name="nom" placeholder="Entrer le nom"
                   required
                   type="text">
          </div>
          <div *ngIf="n.invalid && n.touched" class="alert alert-danger">
            le champ est obligatoire
          </div>

          <div class="form-group">
            <label><b>Prénom</b> *</label>
            <input #l="ngModel" [(ngModel)]="candidat.prenom" class="form-control" id="prenom"
                   name="prenom" pattern="[a-zA-Z]+"
                   placeholder="Entrer le prénom"
                   required
                   type="text"
            >
          </div>
          <div *ngIf="l.invalid && l.touched" class="alert alert-danger">
            le champ est obligatoire
          </div>
          <div class="form-group">
            <label><b>E-mail</b> * </label>
            <input #e="ngModel" [(ngModel)]="candidat.email" class="form-control" id="email"
                   name="email" pattern="^[a-z0-9._%+-]+@[a-zA-Z0-9]+.[a-zA-Z0-9]{2,4}"
                   placeholder="Entrer l'e-mail"
                   required
                   type="email">
          </div>
          <div *ngIf="e.invalid && e.touched" class="alert alert-danger">
            Le champ doit respecter les conditions
          </div>
          <div class="form-group">
            <label><b>Numéro de téléphone</b> *</label>
            <input #t="ngModel" [(ngModel)]="candidat.tel" class="form-control" id="tel"
                   name="tel" pattern="[0-9]{8}"
                   placeholder="Entrer le numéro de téléphone" required type="tel"
            >
          </div>
          <div *ngIf="t.invalid && t.touched" class="alert alert-danger">
            Le champ doit respecter les conditions
          </div>
          <div class="form-group">
            <label><b>Date de naissance</b> *</label>
            <input #d="ngModel" [(ngModel)]="candidat.dateNaissance" class="form-control"
                   id="dateNaissance" name="dateNaissance"
                   placeholder="Entrer la date de naissance" required type="date">
          </div>
          <div *ngIf="d.invalid && d.touched" class="alert alert-danger">
            le champ est obligatoire
          </div>
          <div class="form-group">
            <label><b>Image</b> *</label>
            <app-image-upload (photo)="setPhoto($event)"></app-image-upload>
          </div>

          <div class="form-group">
            <label><b>Curriculum vitea</b></label>
            <app-file-upload (cv)="setCv($event)"></app-file-upload>
          </div>

          <div class="form-group boutton">
            <button [disabled]="f.invalid" class="btn btn-primary btn-block btnSubmit" type="submit">
              Ajouter
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
